

  .root.timeline.twitter-timeline p, .root.timeline.twitter-timeline ol, .root.timeline.twitter-timeline ul, .root.timeline.twitter-timeline li {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #696969;
    font-weight: 300; }

 

