<!-- Footer -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="3u">
						
							<!-- Links -->
							
								<section class="widget contact" id="Kontakt">
									<h3 >Kontakt</h3>
									<p><a class="cleanlink" href="index.html">SENGE <i class="fa fa-graduation-cap"> </i> Coaching</a><br />
									Computer Science made easy.<br />	
									<i class="fa fa-user"> &nbsp;</i> Inhaber: <a href="http://www.sebastian-senge.de">Dr. Sebastian Senge</a><br />
									<i class="fa fa-envelope-o"> &nbsp;</i><a href="mailto:info@senge.coach">info@senge.coach</a></p>
								</section>
						
						
						</div>
						<div class="4u">
						
							<!-- Contact -->
								<section class="widget contact upOnMobile">
									<h3>&nbsp;</h3>
									<!--<ul>
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
									</ul> -->
									<p>In Bürogemeinschaft mit:<br /><br />
									<i class="fa fa-external-link"> </i> <a href="http://www.sasse-schockemoehle.com">Sasse &amp; Schockemöhle Communications</a><br />
									<i class="fa fa-map-marker">  &nbsp;</i> <a href="https://www.google.de/maps/place/Maximilianspl.+9,+80333+München">Maximiliansplatz 9, 80333 München</a></p>
								</section>
						
						</div>
						<div class="1u hideme">
							<section class="widget contact"> <h3>&nbsp;</h3><p class="vline"><br /><br /><br /><br /></p>
							</section>
						</div>
						<div class="4u">
							<!-- Contact -->
								<section class="widget contact vcenter last centerOnMobile upOnMobile">
									<h3>&nbsp;</h3>
									<!--<ul>
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
									</ul> -->
									
									<p>"Computers are useless.<br /> They can give you only answers."<br />&mdash; Pablo Picasso, 1964</p>
								</section>
						
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="copyright">
								<ul class="menu centerOnMobile upOnMobile">
									<li>&copy; SENGE <i class="fa fa-graduation-cap"> </i> Coaching 2015</li>
								</ul>
							</div>
						</div>
					</div> 
				</footer>
			</div>

