	<head>
		<title>SENGE Coaching | Computer Science made easy</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Computer Science made easy: Coaching für Informatik- und informatik-nahe Abschlussarbeiten und mündliche Prüfungen." />
		<meta name="keywords" content="Informatik, Computer Science, Coaching, Nachhilfe, Diplomarbeit, Master, Bachelor, Thesis, mündliche Prüfung, Tutorien" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<!--<script src="js/eqh.js"></script> -->
		<link rel="stylesheet"  type="text/css" href="css/gr.css" />
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
<!--			<link rel="stylesheet"  type="text/css" href="css/cr.css" /> -->
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</head>

